<%= render 'layouts/small_banner'%>

<div class="container pt-5">

	<div class="row no-gutters">

		<div class="amount border p-3 col-md-3 text-center">
			Commandé le <%= @order.created_at.strftime('%d/%m/%Y')%>
		</div>
	</div>

	<% @items.each do |item| %>
	<div class="row border no-gutters text-center">
    <div class="col-md-2 col-5 my-auto"><img src="<%= item.image_url %>" height="200" alt="">
    </div>

    <div class="col-md-10 row no-gutters border-left">
      <div class="col-md-6 m-auto">
        <h3><%= item.title%></h3>
        <%= item.price%> €
      </div>
      <div class="col-md-6 m-auto">
        <p><%= item.created_at.strftime('%d/%m/%Y')%></p>
      </div>
    </div>
  </div>
	<%end%>

	<div class="row no-gutters justify-content-end mb-5">

		<div class="amount border p-3 col-md-3 text-center">
			Total : <%= @order.total_price %> €
		</div>
	</div>

</div>
