<h1>Editer l'item n°<%=@item.id%></h1>
<div class="d-flex flex-row m-5" >
	<div class="container d-flex flex-column justify-content-center p-5" style="border: solid 2px;">
		<%if @item.panini_image.attached?%>
			<%= image_tag @item.panini_image, alt: 'image panini' %>
		<%else%>
			<p>=== Il n'y a pas encore de 'panini_image' lié à cet item ===</p>
		<%end%>
        <br/>
        <div>
        <h3>Changer d'image de ce panini ?</h3>
            <%= form_tag item_panini_images_path(@item), multipart: true do %>
            <%= file_field_tag :panini_image %>
            <%= submit_tag "mettre à jour" %>
            <% end %>
        </div>
	</div>
	<div class="container d-flex flex-column justify-content-between p-5"  style="border: solid 2px;">
		<%= form_tag item_path(@item.id), method: :patch do %>
        <%= label_tag 'Titre' %>
        <div class="form-label-group">
          <%= text_field_tag 'title', value = @item.title %>
		</div>
		<%= label_tag 'Description' %>
	    <div class="form-label-group">
	      <%= text_area_tag 'description', value = @item.description, class: "form-label-group"%>
	    </div>
		<%= label_tag 'Position' %>
        <div class="form-label-group">
          <%= select_tag "position", raw("<option>Attaquant</option><option>Milieu</option><option>Défenseur</option><option>Gardien</option>"), disabled: false %>
		</div>
		<%= label_tag 'Prix (€)' %>
        <div class="form-label-group">
          <%= text_field_tag 'price', value = @item.price %>
		</div>
		<div class="d-flex flex-row justify-content-between ">
			<div class="pt-2">
				<%= submit_tag "mettre à jour", :class => "btn btn-primary" %>
            </div>  
		</div>
		<% end %>
	</div>
</div>