<%= render "layouts/small_banner"%>

<div class="container-fluid">
	<div class="row">
	<div class="col-md-6 border">
		<div class="text-center">
			<%if @item.panini_image.attached?%>
				<%= image_tag @item.panini_image, alt: 'image panini', class: 'h-80' %>
			<%else%>
				<img src="<%=@item.image_url%>" alt="image panini" class="mw-100">
			<%end%>
		</div>

	</div>
	<div class="col-md-6 border p-md-5 justify-content-between flex-direction: column">
		<div class="row h-25 p-5">
			<h1><%= @item.title %></h1>
		</div>
		<div class="row h-50 p-5">
			<p>Decsription :
				<%= @item.description %></p>
		</div>
		<div class="row h-20 pb-0 pt-5 px-5">
			<div class="col-md-6 text-center p-4">
				 <%= @item.price %> €
			</div>
			<div class="col-md-6 text-center p-3">	<%= link_to 'Ajouter au panier', item_join_table_carts_items_path(@item.id), method: :post, :class => "btn btn-lg btn-primary"  %>
			</div>
		</div>
		<% if current_user && current_user.admin?%>
		<div class="row h-20 ml-5 pt-2 justify-content-center">
			<a href="<%=edit_item_path(@item.id)%>" class=" btn btn-secondary m-1">MODIFIER LA CARTE</a>
		</div>
		<%end%>
	</div>
	</div>
</div>
